.wavy-line {
    width: 19em;
    height: 20em;
    margin: 0;
    position: absolute;
    right: 0;
    transform: rotate(90deg); 
    transform-origin: center; 
    overflow: hidden;
  }
  .wavy-line:before {
    content: attr(data-text);
    position: absolute;
    top: -35px;
    color: rgba(0,0,0,0);
    width: calc(100% + 27px);
    font-size: 4em;
    text-decoration-style: wavy;
    text-decoration-color: #8447E9;
    text-decoration-line: underline;
    animation: animate .9s linear infinite;
    -webkit-animation: animate 3s linear infinite;
  }
  
  @keyframes animate {
    0% { left: -0px; }
    100% { left: -30px;}
  }
  @-webkit-keyframes animate {
    0% { left: -0px; }
    100% { left: -30px;}
  }
  
  .wavy-line-purple:before { text-decoration-color: '#8447E9F';}
